// Primary color
$primary-clr-one: hsl(215, 51%, 70%);
$primary-clr-two: hsl(178, 100%, 50%);

// Neutral color
$neutral-clr-one: hsl(217, 54%, 11%);
$neutral-clr-two: hsl(216, 50%, 16%);
$neutral-clr-three: hsl(215, 32%, 27%);
$neutral-clr-four: hsl(0, 0%, 100%);

// Font Family
$primary-font: 'Outfit', sans-serif;